//- cat.jade
//- This file defines the view of this app.
//- [prod,cat,desc,photo,price]

doctype html
html
  include head
  include body
  block content
    div.small
      table(border='1')
        th(colspan='4')= title
        each item in items
          tr
            td
              a(href="/silly/big?key=#{item[0]}",title="#{item[1]}")
                img(src="#{item[3]}")
            td(colspan='2')=item[2]
            td="$" + item[4]

