//- index.jade
//- This file defines the view of this app.
//- [cat,dsc,pic]

doctype html
html
  include head
  include body
  block content
    div.small
      table(border='1')
        tr
          td
            include links
      table(border='1')
        th=  title
        each item in items
          tr
            td
              a(href="/silly/cat?key=#{item[0]}",title="#{item[1]}")
                img(src="#{item[2]}")
              | - #{item[1]} hat group (click photo)

